# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
.env*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.now
.cache

/public
/public/page-datas
public/manifest.webmanifest
public/page-data/course/Tps254/page-data.json
public/page-data/course/Tps261/page-data.json
public/page-data/course/Tps283/page-data.json
public/page-data/course/Tps291/page-data.json
public/page-data/course/Tps311/page-data.json
public/page-data/courses/page-data.json
public/page-data/dev-404-page/page-data.json
public/page-data/major/becoming-perfect-in-life/page-data.json
public/page-data/major/cognitive-chemistry/page-data.json
public/page-data/major/fulfilling-psychology-studies/page-data.json
public/page-data/major/funding-application-development-center/page-data.json
public/page-data/major/invasive-neuroscience/page-data.json
public/page-data/major/logic-and-fashion/page-data.json
public/page-data/major/object-oriented-programming/page-data.json
public/page-data/major/special-group-education/page-data.json
public/page-data/major/speculative-ergonomics/page-data.json
public/page-data/major/succeeding-in-life/page-data.json
public/page-data/major/theoretical-theology/page-data.json
public/page-data/major/weird-behavior/page-data.json
public/page-data/majors/page-data.json
public/page-data/teacher/alexander-von-humboldt/page-data.json
public/page-data/teacher/otto-lapsi/page-data.json
public/page-data/teacher/pathetic-scheisse/page-data.json
public/page-data/teacher/perttu-laehteenmaeki/page-data.json
public/page-data/teacher/sassi-juurinen/page-data.json
public/page-data/teachers/page-data.json
public/static/d/882129107.json
public/static/d/2417117884.json
public/static/d/2595955857.json
public/static/d/3549061220.json
